.popup__input-error {
  position: absolute;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media all and (max-width: 400px) { 
	.popup__input-error { 
    font-size: 10px; 
    line-height: 13px; ; 
  } 

 
} 

 